@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i');

html, body {
  height: 100%;
}

body {
  background-color: #f6f6f6;
  color: black;
  font-family: 'PT Sans', sans-serif;
}

.content-placeholder {
  padding: 40px 20px;
  @include media-breakpoint-down(sm){
    padding: 40px 0;
  }
}

.card {
  width: 100%;
  padding-bottom: 40px;
  min-height: 200px;
  border: 0;
  border-radius: 0;
}

.carousel-item img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.close-collapse{
  text-align: right;
  padding: 20px 20px 0;

  &:hover{
    cursor: pointer;
  }
}

.details-poster img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.details-stuff {
  padding-left: 40px;

  @include media-breakpoint-down(sm){
    margin-top: 20px;
  }
}

.details-title {
  font-size: 20px;
  font-weight: bold;
  color: black;
  display: block;
  margin-bottom: 20px;
}

.genres {
  font-size: 14px;
  font-style: italic;
  color: #ccc;
  display: none;
  margin-bottom: 5px;
}

.hidden{
  display: none;
}

#header-div {
  width: 100%;
  -webkit-box-shadow: 2px 2px 2px #ccc;
  box-shadow: 2px 2px 2px #ccc;
  background-color: white;
  min-height: 120px;
  overflow: hidden;
  padding: 20px 0 0;
}

.loader {
  margin: 0 auto;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#logo-wrapper {
  padding-left: 20px;
  height: 50px;
  margin-bottom: 10px;

  img {
    max-width: 100%;
    height: 100%;
    width: auto;
  }
}

.movie-item:not(.expanded) {
  height: 300px;
  overflow: hidden;
  margin: 20px 0;
  transition: max-width .8s ease-in-out;
  -o-transition: max-width .8s ease-in-out;
  -webkit-transition: max-width .8s ease-in-out;
  -moz-transition: max-width .8s ease-in-out;
  @include media-breakpoint-down(md) {
    height: 400px !important;
  }

  &:hover {
    cursor: pointer;

    .genres, .vote-average {
      display: block;
    }

    .movie-title {
      margin-bottom: 5px;
    }

    .movie-overview {
      overflow: hidden;
      -o-text-overflow: initial;
      text-overflow: initial;
      display: block;
      height: calc(100% - 120px);
      overflow: scroll;

    }

    .movie-caption {
      height: 100%;
      position: relative;
      padding-bottom: 60px;
    }

    .see-more-link {
      display: block !important;
    }

    .small{
      display: none;
    }

  }
}

.movie-details {
  padding: 40px 20px;
  margin: 0 !important;

  @include media-breakpoint-down(sm){
    padding: 0;
  }
}

.movie-part-collapsed {
  background-color: white;
}

.movie-item.expanded {

  max-width: 100%;
  width: 70%;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  min-height: 300px;
  height: auto;
  overflow: hidden;

  .genres, .vote-average {
    display: block;
    color: black;
  }

  .movie-preview-wrapper {
    background: none;
  }

  .movie-overview{
    max-width: 600px;
  }

  .preview {
    display: none;
  }
}


.movie-title {
  display: block;
  font-size: 22px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 10px;
}

.movie-preview-wrapper {
  background-repeat: no-repeat;
  background-position: 100% 10%;
  background-size: cover;
  height: 100%;
  position: relative;
}

.modal {
  display:    none;
  position:   fixed;
  z-index:    1000;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: rgba( 255, 255, 255, .8 )
  url('../img/block.gif')
  50% 50%
  no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
  overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
  display: block;
}

.navbar{
  padding: 10px;
  margin: 0;
  @include media-breakpoint-down(md){
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
  }

  .form-control{
    width: calc(100% - 45px);
  }

  .navbar-nav{
    padding: 0 30px;

    @include media-breakpoint-down(md){
      padding: 0 !important;
    }
  }

  .nav-link{
    font-size: 20px;
    color: black;

    &:hover{
      cursor: pointer;
      color: #3498db !important;
    }

  }

  .nav-link.selected{
    font-weight: bold;
  }
}

.preview {



  .movie-title{
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    line-height: 24px;
    -webkit-box-orient: vertical;
  }


  .movie-overview {
    height: 2.4em;
    line-height: 1.2em;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin-bottom: 0;
  }
}

.movie-caption {
  height: 110px;
  transition: height .4s ease-in;
  -o-transition: height .4s ease-in;
  -webkit-transition: height .4s ease-in;
  -moz-transition: height .4s ease-in;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  color: white;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.65);

  .small{
    color: #ccc;
  }
}

.release-date{
  font-size: 18px;
}

.reviews{
  margin: 20px 0;
}

.review{
  margin-bottom: 10px;
}

.review-author{
  font-weight: bold;
}

.review-content{
  font-style: italic;
}

#search-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-left: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  @include media-breakpoint-down(sm){
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

.see-more-link {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: 1px solid white;
  padding: 7px;
  border-radius: 5px;
  color: white !important;
  transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;

  &:hover {
    text-decoration: none !important;
    transform: scale(1.1);
    background-color: black;
  }
}

.slick-slider {
  padding: 0 20px;
}

.slick-prev {
  left: -5px;
}

.slick-next {
  right: -5px;
}

.slick-slide {
  padding: 0 10px;
  position: relative;

  .similar-title {
    position: absolute;
    display: block;
    bottom: 0;
    left: 10px;
    right: 10px;
    min-height: 50px;
    line-height: 15px;
    font-size: 12px;
    padding: 5px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.65);
  }
}

.slick-prev:before, .slick-next:before {
  color: black !important;
}

.slick-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

span.detail-type {
  font-weight: bold;
}

#search-button{
  background-image: url(../img/search.png) ;
  background-repeat: no-repeat ;
  background-size: 20px 20px;
  background-position: 9px 9px;
  height: 38px;
  border: transparent;
  width: 38px;
  background-color: #3498db;

  &:hover{
    cursor: pointer;
    background-color: #46596d;
  }
}

.slick-slider, .slick-list, .slick-track {
  height: 100%;
}

.trailer {
  margin: 20px 0;
  height: 315px;

  @include media-breakpoint-up(md){
    width: 560px;
    height: 315px;
  }

  @include media-breakpoint-down(sm){
    width: 100%;
    height: auto;
  }
}

.trailers-wrapper {
  margin: 0px 0 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.vote-average {
  display: none;
  font-size: 14px;
  color: #ccc;
  margin-bottom: 20px;
}
